{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% block title %}
<title>Tmart-{% trans 'AboutUs' %}</title>
{% endblock %}
{% block content %}
        <!-- End Offset Wrapper -->
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(images/bg/2.jpg) no-repeat scroll center center / cover ;">
            <div class="ht__bradcaump__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bradcaump__inner text-center">
                                <h2 class="bradcaump-title">{% trans 'About Us' %}</h2>
                                <nav class="bradcaump-inner">
                                  <a class="breadcrumb-item" href="{% url 'home' %}">{% trans 'Home' %}</a>
                                  <span class="brd-separetor">/</span>
                                  <span class="breadcrumb-item active">{% trans 'About Us' %}</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area --> 
        <!-- Start Our Store Area -->
        <section class="htc__store__area ptb--120 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section__title section__title--2 text-center">
                            <h2 class="title__line">{% trans 'Welcome To Tmart Store' %}</h2>
                            <p>{% trans 'Our store is based on human rights' %}</p>
                        </div>
                        <div class="store__btn">
                            <a href="{% url 'contact' %}">{% trans 'contact us' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Our Store Area -->
        <!-- Start Choose Us Area -->
        <section class="htc__choose__us__ares bg__white">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="video__wrap bg--3" data--black__overlay="5">
                            <div class="video__inner">
                                <a class="video__trigger video-popup" href="https://www.youtube.com/watch?v=cDDWvj_q-o8">
                                    <i class="zmdi zmdi-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="htc__choose__wrap bg__cat--4">
                            <h2 class="choose__title">{% trans 'Why Choose Us?' %}</h2>
                            <div class="choose__container">
                                <div class="single__chooose">
                                    <div class="choose__us">
                                        <div class="choose__icon">
                                            <span class="ti-heart"></span>
                                        </div>
                                        <div class="choose__details">
                                            <h4>{% trans 'Free Gift Box' %}</h4>
                                            <p>{% trans 'kookokooo' %}. </p>
                                        </div>
                                    </div>
                                    <div class="choose__us">
                                        <div class="choose__icon">
                                            <span class="ti-truck"></span>
                                        </div>
                                        <div class="choose__details">
                                            <h4>{% trans 'Free Delivery' %}</h4>
                                            <p>{% trans 'okkkk' %}. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single__chooose">
                                    <div class="choose__us">
                                        <div class="choose__icon">
                                            <span class="ti-reload"></span>
                                        </div>
                                        <div class="choose__details">
                                            <h4>{% trans 'Money Back' %}</h4>
                                            <p>Lor{% trans 'Lorem ipsum dolor sit amet consect adipisic elit sed do' %}. </p>
                                        </div>
                                    </div>
                                    <div class="choose__us">
                                        <div class="choose__icon">
                                            <span class="ti-time"></span>
                                        </div>
                                        <div class="choose__details">
                                            <h4>{% trans 'Support 24/7' %}</h4>
                                            <p>{% trans 'Lorem ipsum dolor sit amet consect adipisic elit sed do' %}. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Choose Us Area -->
        <!-- Start Our Team Area -->
        <section class="htc__team__area bg__white ptb--120">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section__title section__title--2 text-center">
                            <h2 class="title__line">{% trans 'Our Staff' %}</h2>
                            <p>{% trans 'Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labo' %}.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="team__wrap clearfix mt--60">
                        <!-- Start Single Team -->
                        {% for worker in team_list %}
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div class="team foo">
                                <div class="team__thumb">
                                    <a href="">
                                        <img src="{{worker.image.url}}" alt="team images">
                                    </a>
                                </div>
                                <div class="team__bg__color"></div>
                                <div class="team__hover__info">
                                    <div class="team__hover__action">
                                        <h2><a href="#">{{worker.full_name}}</a></h2>
                                        <ul class="social__icon">
                                            {% if worker.twitter_account %}                                         
                                            <li><a href="{{worker.twitter_account}}"><i class="zmdi zmdi-twitter"></i></a></li> 
                                            {% endif %}
                                            {% if worker.instagram_account %}                                    
                                            <li><a href="{{worker.instagram_account}}"><i class="zmdi zmdi-instagram"></i></a></li>
                                            {% endif %}
                                            {% if worker.facebook_account %}
                                            <li><a href="{{worker.facebook_account}}"><i class="zmdi zmdi-facebook"></i></a></li>
                                            {% endif %}
                                            {% if worker.google_account %}
                                            <li><a href="{{worker.google_account}}"><i class="zmdi zmdi-google-plus"></i></a></li>
                                            {% endif %}  
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- End Single Team -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End Our Team Area -->
        <!-- Start Testimonial Area -->
        <div class="htc__testimonial__area ptb--120" style="background: rgba(0, 0, 0, 0) url(images/bg/4.jpg) no-repeat scroll center center / cover ;" data--black__overlay="6">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="testimonial__wrap owl-carousel owl-theme clearfix">
                            <!-- Start Single Testimonial -->
                            <div class="testimonial">
                                <div class="testimonial__thumb">
                                    <img src="{% static 'images/test/client/1.png' %}" alt="testimonial images">
                                </div>
                                {% if review %}
                                <div class="testimonial__details">
                                    <p>{{review.review}}</p>
                                    <div class="test__info">
                                        <span><a href="#">{{review.user}}</a></span>
                                        <span> - </span>
                                        <span>{% trans 'Customer' %}</span>
                                    </div>
                                </div>
                                {% else %}
                                <div class="testimonial__details">
                                    <p>{% trans 'I highly recommend' %}</p>
                                    <div class="test__info">
                                        <span><a href="">Martin Iden</a></span>
                                        <span> - </span>
                                        <span>{% trans 'Customer' %}</span>
                                    </div>
                                </div>
                                {% endif %}
                            </div>                          
                            <!-- End Single Testimonial -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Testimonial Area -->
        <!-- Start brand Area -->
        <div class="htc__brand__area bg__white ptb--120">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="brand__list">
                            <li><a href="#">
                                <img src="{% static 'images/brand/1.png' %}" alt="brand images">
                            </a></li>
                            <li><a href="#">
                                <img src="{% static 'images/brand/2.png' %}" alt="brand images">
                            </a></li>
                            <li><a href="#">
                                <img src="{% static 'images/brand/3.png' %}" alt="brand images">
                            </a></li>
                            <li><a href="#">
                                <img src="{% static 'images/brand/4.png' %}" alt="brand images">
                            </a></li>
                            <li class="hidden-sm"><a href="#">
                                <img src="{% static 'images/brand/5.png' %}" alt="brand images">
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End brand Area -->
        <!-- Start Footer Area -->
        <!-- End Footer Area -->
    </div>
    {% endblock %}
    <!-- Body main wrapper end -->
    <!-- Placed js at the end of the document so the pages load faster -->