{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load blog_tags %}
{% block title %}
    <title>Tmart-{{blog.title}}</title>
{% endblock %}
{% block content %}
        <!-- End Offset Wrapper -->
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(images/bg/2.jpg) no-repeat scroll center center / cover ;">
            <div class="ht__bradcaump__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bradcaump__inner text-center">
                                <h2 class="bradcaump-title">{{blog.title}}</h2>
                                <nav class="bradcaump-inner">
                                  <a class="breadcrumb-item" href="{% url 'home' %}">{% trans 'Home' %}</a>
                                  <span class="brd-separetor">/</span>
                                  <span class="breadcrumb-item active">{% trans 'right sidebar' %}</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start Our Blog Area -->
        <section class="blog-details-wrap ptb--120 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                        <div class="blog-details-left-sidebar">
                            <div class="blog-details-top">
                                <!--Start Blog Thumb -->
                                <div class="blog-details-thumb-wrap">
                                    <div class="blog-details-thumb">
                                        <img src="{{blog.image.url}}" alt="blog images">
                                    </div>
                                    <div class="upcoming-date">
                                        {{blog.published_at|date:"d"}}<span class="upc-mth">{{blog.published_at|date:"F , Y"}}</span>
                                    </div>
                                </div>
                                <!--End Blog Thumb -->
                                <h2>{{blog.title}}</h2>
                                <div class="blog-admin-and-comment">
                                    <p>{% trans 'BY' %} : <a href="#">{{blog.user}}</a></p>
                                    <p class="separator">|</p>                                 
                                        <p>{{blog.category.category_name}} </p>                                       
                                </div>
                                <!-- Start Blog Pra -->
                                <div class="blog-details-pra">
                                    <p>{{blog.blog|markdown}}</p>
                                </div>
                                <!-- End Blog Pra -->
                                <!-- Start Blog Tags -->
                                <div class="postandshare">
                                    <div class="post">
                                        <p>{% trans 'TAGS' %} : {{blog.tags.all|join:", "}}</p>
                                    </div>
                                    <div class="blog-social-icon">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                            <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Blog Tags -->
                                <!-- Start Blog Comment Area -->
                                <div class="our-blog-comment mt--20" >
                                    <div class="blog-comment-inner">
                                        <div >
                                            {% with comments.count as total_comments %}
                                            {% if total_comments == 0 %}
                                            <h2  class="section-title-2">{{ total_comments }} {% trans 'comment' %}</h2>
                                            {% else %}
                                            <h2 class="section-title-2">{{ total_comments }} {% trans 'comment' %}{% if request.LANGUAGE_CODE == 'en' %}{{ total_comments|pluralize }}{% endif %}</h2>
                                            {% endif %}
                                            {% endwith %}
                                        </div>
                                        <!-- Start Single Comment -->

                                        {% for comment in comments %}
                                        <div class="single-blog-comment" >
                                            <div class="blog-comment-thumb">
                                                <img src="{% static 'images/comment/1.jpg' %}" alt="comment images">
                                            </div>
                                            <div class="blog-comment-details">
                                                <div class="comment-title-date">
                                                    <h2><a href="#">{{comment.user.get_username}}</a></h2>
                                                    <div class="reply">
                                                        <p> {{comment.created_at|date:"d  F Y"}} / <a href="#">{% trans 'REPLY' %}</a></p>
                                                    </div>
                                                </div>
                                                <p>{{comment.message|linebreaks}}</p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <!-- End Single Comment -->
                                        <!-- Start Single Comment -->
                                        <div class="single-blog-comment comment-reply">
                                            <div class="blog-comment-thumb">
                                                <img src="{% static 'images/comment/2.jpg' %}" alt="comment images">
                                            </div>
                                            <div class="blog-comment-details">
                                                <div class="comment-title-date">
                                                    <h2><a href="#">Martin Payet</a></h2>
                                                    <div class="reply">
                                                        <p>14 Sep 2017 / <a href="#">REPLY</a></p>
                                                    </div>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi ut labore et dolo magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="our-blog-comment mt--20" id="comments">
                                    
                                </div>
                                <!-- End Blog Comment Area -->
                                <!-- Start Reply Form -->
                                {% if request.user.is_authenticated %}
                                <div class="our-reply-form-area mt--20">
                                    <h2 class="section-title-2">{% trans 'LEAVE A REPLY' %}</h2>
                                    <div class="reply-form-inner mt--40">
                                        <!-- {% include 'messages.html' %} -->
                                        <form action="{{ blog.get_absolute_ur}} " id="CommentCreationForm" method="post">
                                            {% csrf_token %}
                                            <div  id="success" >                                                                  
                                            </div>
                                            <div  id="alert">                                 
                                            </div> 
                                            <div class="reply-form-box">
                                                <textarea name="message" placeholder="Your message"></textarea>
                                            </div>
                                            <input type="hidden" name="blog" value="{{ blog.id }}"> 
                                            <div class="contact-btn">
                                                <button type="submit" class="fv-btn">SEND</button>
                                            </div>
                                            {% for field in form %}
                                            <!-- {% for error in field.errors %} 
                                                <div class="alert alert-danger">
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                            {% endfor %}
                                            <div class="reply-form-box">
                                            </div>
                                            <div class="reply-form-box">
                                                {{form.message}}
                                            </div>
                                            <div class="blog__details__btn"> -->
                                                <!-- <a class="htc__btn btn--gray" href=""><input type="submit">submit</a> -->
                                                <!-- <button type="submit"><a class="htc__btn btn--gray">{% trans 'submit' %}</a></button>
                                            </div> -->
                                        </form>
                                    </div>
                                </div>
                                {% endif %}
                               
                                <!-- End Reply Form -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 smt-30 xmt-40">
                        <div class="blod-details-right-sidebar">
                                <div class="category-search-area">
                                    <form action="" id="SearchForm">
                                        <input id="search-input" placeholder="Search......" type="text">
                                        <button id="search-button" class="srch-btn" type="submit"><i class="zmdi zmdi-search"></i></button>                               
                                    </form>
                                    <!-- <form action="{% url 'blog_list' %}?query={{request.GET}}" id="SearchForm"> -->
                                        <!-- <input placeholder="Search......" type="text"> -->
                                        <!-- <a  href="{% url 'blog_list' %}?query={{request.GET}}"><button class="srch-btn" type="submit"><i class="zmdi zmdi-search"></i></button></a>
                                        {{form1.query}}  
                                    </form> -->
                                </div>
                            <!-- Start Category Area -->
                            <div class="our-category-area mt--60" id="blog_category">
                                <h2 class="section-title-2">{% trans 'CATEGORY' %}</h2>
                                <!-- {% for category in categories %}
                                {% if category.blog.count != 0 %}
                                <ul class="categore-menu">
                                    <li><a href="{% url 'blog_list' %}?category={{category.slug}}"><i class="zmdi zmdi-caret-right"></i>{{category.category_name}}<span>{{category.blog.count}}</span></a></li>
                                </ul>
                                {% else %}
                                <ul class="categore-menu">
                                    <li><a href=""><i class="zmdi zmdi-caret-right"></i>{{category.category_name}}<span>{{category.blog.count}}</span></a></li>
                                </ul>
                                {% endif %}
                                {% endfor %} -->
                            </div>
                            <!-- End Category Area -->
                            <!-- Start Letaest Blog Area -->
                            <div class="our-recent-post mt--60">
                                <h2 class="section-title-2">{% trans 'RECOMMENDED BLOGS' %}</h2>
                                <div class="our-recent-post-wrap">
                                    <!-- Start Single Post -->
                                    {% for blog in blogs %}
                                    <div class="single-recent-post">
                                        <div class="recent-thumb">
                                            <a href="{{ blog.get_absolute_url }}"><img src="{{blog.image.url}}" alt="post images"></a>
                                        </div>
                                        <div class="recent-details">
                                            <div class="recent-post-dtl">
                                                <h6><a href="{{ blog.get_absolute_url }}">{{blog.title}}</a></h6>
                                            </div>
                                            <div class="recent-post-time">
                                                <p>{{blog.published_at|date:"d F Y"}}</p>
                                                <p class="separator">|</p>
                                                <p>{{blog.published_at|date:"H : i  A"}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <!-- End Single Post -->
                                </div>
                            </div>
                            <!-- End Letaest Blog Area -->
                            <!-- Start Tag -->
                            
                            <div class="our-blog-tag">
                                <h2 class="section-title-2">{% trans 'TAGS' %}</h2>
                                <ul class="tag-menu mt-40">
                                    {% for tag in blog.tags.all %}
                                    <li><a href="{% url 'blog_list'%}?tag={{tag.slug}}">{{tag.name}}</a></li>
                                    <!-- {% if not forloop.last %} {% endif %} -->
                                    {% endfor %}
                                </ul>
                            </div>
                            
                            <!-- End Tag -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Our Blog Area -->  

        <!-- Start Footer Area -->

        <!-- End Footer Area -->
        <script src="{% static 'js/api/blog-details.js' %}"></script>
        <script src="{% static 'js/api/blog.js' %}"></script>
    </div>
    {% endblock %}
    <!-- Body main wrapper end -->
    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
